<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="_Filter" value="*.pdf"/>
		<add key="_WatcherPath" value="C:\Server\GIA_FROM_NBFormal"/>
		<add key="_KeepPath" value="C:\Server\GIA_FROM_NBFormal\Keep"/>
		<add key="_SFTPUsername" value="sftp_nb2gia"/>
		<add key="_SFTPPassword" value="P@ssw0rd!654123"/>
		<add key="_SFTPWorkingPath" value="\dfstp_data\GIA_FROM_NBFormal\ENT\"/>
		<add key="_SFTPHost" value="23.168.85.140"/>
		<add key="_SFTPPort" value="22"/>
		<add key="log4net.Config" value="log4.config"/>
		<add key="log4net.Config.Watch" value="True"/>
		<add key="log4net.Internal.Debug" value="False"/>
	</appSettings>
</configuration>